<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dcloud.mapper.ThirdLoginMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.dcloud.entity.ThirdLogin">
        <id column="id" property="id" />
        <result column="platform" property="platform" />
        <result column="open_id" property="openId" />
        <result column="open_name" property="openName" />
        <result column="access_token" property="accessToken" />
        <result column="refresh_token" property="refreshToken" />
        <result column="create_time" property="createTime" />
        <result column="login_time" property="loginTime" />
        <result column="expire_time" property="expireTime" />
        <result column="expire_in" property="expireIn" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, platform, open_id, open_name, access_token, refresh_token, create_time, login_time, expire_time, expire_in
    </sql>

</mapper>
